* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

main {
    background-color: black;
    height: fit-content;
    width: 100%;
}

.box1 {
    background-image: url("img/IN-en-20240129-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center center;
    background-size: max(1350px, 100vw);
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 78vw;
    position: relative;
    margin: auto;
    z-index: 10;
}

nav div img {
    width: 180px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.nav-links select {
    background-color: transparent;
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-links button {
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 6px 10px;
    font-weight: bold;
}

.box1-box {
    height: 700px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

.box1-content {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 10px);
    gap: 30px;
}

.box1-content p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.box1-content p:nth-child(2) {
    font-size: 24px;
}

.box1-content p:nth-child(3) {
    font-size: 20px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px
}

.login-btn input {
    background-color: rgba(248, 243, 243, 0.021);
    padding: 16px 190px 16px 10px;
    font-size: 1rem;
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
    /* width: 100%; */

}

.login-btn button {
    background-color: red;
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid red;
    /* width: 100%; */
    font-weight: bold;
}

.separate {
    width: 100%;
    height: 8px;
    background-color: rgb(35, 35, 35);
}

.box2 {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    padding: 72px 0px;
}

.box2-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box2-content p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.box2-content p:nth-child(2) {
    font-size: 24px;
}


.box2 img {
    width: 550px;
}

.box3 {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    padding: 72px 0px;
}

.box3-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box3-content p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.box3-content p:nth-child(2) {
    font-size: 24px;
}

.box3 img {
    width: 550px;
}

.box4 {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    padding: 72px 0px;
}

.box4-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box4-content p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.box4-content p:nth-child(2) {
    font-size: 24px;
}


.box4 img {
    width: 550px;
}

.box5 {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    padding: 72px 0px;
}

.box5-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box5-content p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.box5-content p:nth-child(2) {
    font-size: 24px;
}


.box5 img {
    width: 550px;
}

.box6 {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 72px 0px;
}

.faq {
    font-size: 48px;
    font-weight: 900;
}

.faq-ques {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.faq-ques span {
    width: 75vw;
    height: 70px;
    background-color: rgb(35, 35, 35);
    padding: 21px 0px 19px 20px;
    font-size: 24px;
}

.box6-ready {
    font-size: 20px;
    margin-top: 25px;
}

header {
    background-color: black;
    padding: 72px 0px;
}

.headerbox {
    max-width: 80vw;
    margin: auto;
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.foot-box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.foot-box2 a {
    color: #FFFFFFB3;
}

.headerbox div p {
    color: #FFFFFFB3;
}

.foot-box3 select {
    background-color: transparent;
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFFB3;
}

@media screen and (max-width:480px) {

    nav {
        max-width: 95vw;
        padding-top: 12px;
    }

    nav div img {
        width: 120px;
    }

    .nav-links {
        gap: 10px;
    }

    .box1-content {
        max-width: 80vw;
        margin: auto;
    }

    .box1-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box1-content p:nth-child(2) {
        font-size: 18px;
    }

    .box1-content p:nth-child(3) {
        font-size: 18px;
    }

    .foot-box2 {
        grid-template-columns: 1fr 1fr;
    }

    .box2 {
        flex-direction: column;
    }

    .box2-content {
        justify-content: center;
        align-items: center;
    }

    .box2-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box2-content p:nth-child(2) {
        font-size: 18px;
    }

    .box3 {
        flex-direction: column-reverse;
    }

    .box3-content {
        justify-content: center;
        align-items: center;
    }

    .box3-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box3-content p:nth-child(2) {
        font-size: 18px;
    }

    .box4 {
        flex-direction: column;
    }

    .box4-content {
        justify-content: center;
        align-items: center;
    }

    .box4-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box4-content p:nth-child(2) {
        font-size: 18px;
    }

    .box5 {
        flex-direction: column-reverse;
    }

    .box5-content {
        justify-content: center;
        align-items: center;
    }

    .box5-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box5-content p:nth-child(2) {
        font-size: 18px;
    }

    .box6{
        max-width: 70vw;
        margin: auto;
    }

    .faq-ques span {
        width: 80vw;
        height: 30px;
        font-size: 18px;
    }

    .faq {
        font-size: 32px;
        font-weight: 700;
    }

    .box6-ready {
        font-size: 18px;
        padding-top: 25px;
        max-width: 80vw;
        margin: auto;

    }

    .box2 img {
        width: 250px;
    }
    .box3 img {
        width: 250px;
    }
    .box4 img {
        width: 250px;
    }
    .box5 img {
        width: 250px;
    }

    .login-btn {
        flex-direction: column;
    }

    .login-btn input {
       width: 70vw;
       padding: 13px 19px 13px 10px;
    }

    .login-btn button {
        font-size: 20px;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {

    nav {
        max-width: 95vw;
        padding-top: 12px;
    }

    nav div img {
        width: 120px;
    }

    .nav-links {
        gap: 10px;
    }

    .box1-content {
        max-width: 80vw;
        margin: auto;
    }

    .box1-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box1-content p:nth-child(2) {
        font-size: 18px;
    }

    .box1-content p:nth-child(3) {
        font-size: 18px;
    }

    .foot-box2 {
        grid-template-columns: 1fr 1fr;
    }

    .box2 {
        flex-direction: column;
    }

    .box2-content {
        justify-content: center;
        align-items: center;
    }

    .box2-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box2-content p:nth-child(2) {
        font-size: 18px;
    }

    .box3 {
        flex-direction: column-reverse;
    }

    .box3-content {
        justify-content: center;
        align-items: center;
    }

    .box3-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box3-content p:nth-child(2) {
        font-size: 18px;
    }

    .box4 {
        flex-direction: column;
    }

    .box4-content {
        justify-content: center;
        align-items: center;
    }

    .box4-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box4-content p:nth-child(2) {
        font-size: 18px;
    }

    .box5 {
        flex-direction: column-reverse;
    }

    .box5-content {
        justify-content: center;
        align-items: center;
    }

    .box5-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box5-content p:nth-child(2) {
        font-size: 18px;
    }

    .faq-ques span {
        width: 90vw;
        height: 30px;
        font-size: 18px;
    }

    .faq {
        font-size: 32px;
        font-weight: 700;
    }

    .box6-ready {
        font-size: 18px;
        padding-top: 25px;
        max-width: 80vw;
        margin: auto;

    }

    .login-btn {
        flex-direction: column;
    }

    .box2 img {
        width: 450px;
    }
    .box3 img {
        width: 450px;
    }
    .box4 img {
        width: 450px;
    }
    .box5 img {
        width: 450px;
    }

    .login-btn input {
       width: 45vw;
       padding: 13px 190px 13px 10px;
    }

    .login-btn button {
        font-size: 20px;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {

    nav {
        max-width: 95vw;
        padding-top: 12px;
    }

    nav div img {
        width: 120px;
    }

    .nav-links {
        gap: 10px;
    }

    .box1-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box1-content p:nth-child(2) {
        font-size: 18px;
    }

    .box1-content p:nth-child(3) {
        font-size: 18px;
    }

    .foot-box2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box2 {
        flex-direction: column;
    }

    .box2-content {
        justify-content: center;
        align-items: center;
    }

    .box2-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box2-content p:nth-child(2) {
        font-size: 18px;
    }

    .box3 {
        flex-direction: column-reverse;
    }

    .box3-content {
        justify-content: center;
        align-items: center;
    }

    .box3-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box3-content p:nth-child(2) {
        font-size: 18px;
    }

    .box4 {
        flex-direction: column;
    }

    .box4-content {
        justify-content: center;
        align-items: center;
    }

    .box4-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box4-content p:nth-child(2) {
        font-size: 18px;
    }

    .box5 {
        flex-direction: column-reverse;
    }

    .box5-content {
        justify-content: center;
        align-items: center;
    }

    .box5-content p:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    .box5-content p:nth-child(2) {
        font-size: 18px;
    }

    .faq-ques span {
        width: 90vw;
        height: 30px;
        font-size: 18px;
    }

    .faq {
        font-size: 32px;
        font-weight: 700;
    }

    .box6-ready {
        font-size: 18px;
        margin-top: 25px;
    }
}